version: "3.7"
{%- set selenium = namespace(version=environ('SELENIUM_VERSION')|default('latest',true), nodes=environ('SELENIUM_NODES')|default('1',true)) %}
services:
  hub:
    image: selenium/hub:{{ selenium.version }}
    hostname: hub
    networks:
      docker.dc:
        aliases:
          - hub.selenium.docker.dc
    dns_search:
      - docker.dc
      - officekiev.fozzy.lan
      - fz.fozzy.lan
      - fozzy.lan
    # Container environment env.DEPLOY_ENV_VARS
    environment:
      - TZ=Europe/Kiev
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
      - LANGUAGE=en_US:en
      - GRID_BROWSER_TIMEOUT=60
      - GRID_MAX_SESSION=100
      - GRID_TIMEOUT=12000
      - GRID_NEW_SESSION_WAIT_TIMEOUT=30000
      - GRID_DEBUG=true
      - GRID_CLEAN_UP_CYCLE=20000
      - JAVA_OPTS=-Xmx512m
    ports:
      - "4004:4444"
    deploy:
      # SWARM deploy mode env.DEPLOY_SWARM_MODE (replicated|global)
      mode: replicated
      replicas: 1
      # SWARM deploy placement env.DEPLOY_SWARM_PLACEMENT [ place1, place2, ... placeX ]
      placement:
        constraints:
          - node.labels.selenium == true
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

{%- for node in range(selenium.nodes|int) %}
  chrome-n{{ '%02d'|format(node + 1) }}:
    image: selenium/node-chrome:{{ selenium.version }}
    hostname: chrome-n{{ '%02d'|format(node + 1) }}
    networks:
      docker.dc:
        aliases:
          - chrome-n{{ '%02d'|format(node + 1) }}.selenium.docker.dc
    dns_search:
      - docker.dc
      - officekiev.fozzy.lan
      - fz.fozzy.lan
      - fozzy.lan
    # Container environment env.DEPLOY_ENV_VARS
    environment:
      - TZ=Europe/Kiev
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
      - LANGUAGE=en_US:en
      - NODE_APPLICATION_NAME=chrome-n{{ '%02d'|format(node + 1) }}
      - NODE_MAX_INSTANCES=10
      - NODE_MAX_SESSION=10
      - HUB_HOST=hub
      - HUB_PORT=4444
    volumes:
      - /dev/shm:/dev/shm
    entrypoint: bash -c 'SE_OPTS="-host $$HOSTNAME" /opt/bin/entry_point.sh'
    deploy:
      # SWARM deploy mode env.DEPLOY_SWARM_MODE (replicated|global)
      mode: replicated
      replicas: 1
      # SWARM deploy placement env.DEPLOY_SWARM_PLACEMENT [ place1, place2, ... placeX ]
      placement:
        constraints:
          - node.labels.selenium == true
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
{%- endfor %}

networks:
  docker.dc:
    external: true
    name: opensourcedata

